/* .App{
  display: flex;
  justify-content: center;
  padding-top: 150px;

}
.form-control {
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
  color: #888;
}

input {
  padding-left: 30px;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.875rem;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}


.auth-container {
  max-width: 400px;
  margin: auto;
}

.toggle-buttons button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.toggle-buttons .active {
  background-color: #007bff;
  color: #fff;
} */
